<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
			</pattern>
		</encoder>		
	</appender>
	<appender name="syslog" class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>datasciencegems.com</syslogHost>
		<facility>USER</facility>
		<suffixPattern>[%thread] %logger %level %msg</suffixPattern>
	</appender>
	<root level="WARN">
		<appender-ref ref="stdout" />
		<appender-ref ref="syslog" />
	</root>
	<logger name="seadragon-system" level="INFO"/>
</configuration>